[service]
output_dir = "./videos"
min_free_mb = 256
segment_seconds = 30
inactivity_seconds = 10

[camera]
backend = "picamera2"
width = 1280
height = 720
fps = 30
codec = "h264"
rotation_mode = "rotate"  # rotate|ffmpeg_segment

[motion]
enable_vision_motion = true
has_radar_or_lidar = false
disable_vision_if_radar_or_lidar = true
vision_motion_fps = 5
vision_motion_sensitivity = 25

[sensor]
backend = "tof_i2c"
poll_hz = 8
simulate = true

